<h1>Greetings this is a web App developed by C Jalloh</h1>

<p>
    I'm the GOAT
    <br>
    Call me Bouff Daddy
</p>


<ul>
    {{#videos}}
        <li>{{name}}</li>
    {{/videos}}
</ul>


<form action="/new-video" method="post">
    <input type="text" name="name">
    <button type="submit">Submit</button>
</form>

<form action="/multi-field-search" method="post">
<label for="name">Name:</label>
<input type="text" name="name">
<label for="description">Description:</label>
<input type="text" name="description">
<button type="submit">Search</button>
</form>